.pnpm-store/
.vscode/
tmp/
.netlify/
google_credentials.json
.pnpm-debug.log
**/.env.local
**/.env.*.local
**/node_modules
package-lock.json
yarn-lock.json
cypress/screenshots
cypress/videos
.idea/

.vercel
