:root {
  --shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  --shadow-soft: 2px 2px 5px rgba(0, 0, 0, 0.25);
  --shadow-large: 4px 4px 5px rgba(0, 0, 0, 0.25);
  --orange: #ff7f11;
  --red: #ff3f00;
  --blue: #485696;
  --white: #fcfaf9;
  --gray-light: #dadada;
  --gray: #939393;
  --gray-dark: #4f4f4f;
  --black: #000000;
  --green-light: #00e781;
  --green: #008148;
  --row-height: 4.133rem;
  --row-gap: 0.625rem;
  --column-width: 7.6rem;
  --essay-column-gap: 1.875rem;
  --essay-column-width: calc(var(--column-width) * 2 + var(--essay-column-gap));
  --essay-row-heigth: calc(var(--row-height) * 2 + var(--row-gap));
  --association-box-width: calc(
    var(--column-width) * 3 + var(--essay-column-gap) * 2
  );
  --association-box-height: calc(var(--row-height) * 5 + var(--row-gap) * 4);
  --delete-box-width: calc(
    var(--column-width) * 4 + var(--essay-column-gap) * 4
  );
  --configure-login-width: calc(
    var(--essay-column-gap) +var(--essay-column-gap) + var(--column-width)
  );
  --bookmark-creation-width: calc(
    var(--essay-column-gap) +var(--essay-column-gap) + var(--essay-column-gap) +
      var(--column-width) + var(--column-width) + var(--column-width)
  );
  --bookmark-creation-height: calc(
    var(--row-height) +var(--row-height) + var(--row-height) + var(--row-gap) + var(
        --row-gap
      ) + var(--row-gap) + var(--row-gap)
  );
  --teacher-description-width: calc(
    var(--column-width) + var(--column-width) + var(--essay-column-gap)
  );
  --teacher-description-height: calc(
    var(--row-height) + var(--row-height) + var(--row-gap)
  );
  --teacher-description-displacement: calc(
    (
        var(--column-width) + var(--essay-column-gap) + var(--essay-column-gap) +
          var(--essay-column-gap)
      ) / 2
  );
}

html {
  font-size: 18px;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: var(--white);
}

.scrollbar-window-padding {
  padding-left: calc(100vw - 100%);
}

.blur {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.white-bg {
  background-color: rgba(252, 250, 249, 0.5);
}

.filter-shadow {
  filter: drop-shadow(var(--shadow));
}

.filter-shadow-soft {
  filter: drop-shadow(var(--shadow-soft));
}

.filter-shadow-large {
  filter: drop-shadow(var(--shadow-large));
}
