@supports (backdrop-filter: blur(100px)) or
  (-webkit-backdrop-filter: blur(100px)) {
  .blur {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
  }
}
.padding {
  padding-left: calc(100vw - 100%);
}
:root {
  --alb: #fcfaf9;
  --negru: #000000;
  --l_row: 4.133rem;
  --l_gap_row: 1rem;
  --l_column: 7.6rem;
  --l_gap_column: 1.6rem;
}
